{#
/**
 * @file
 * Template used to render the option form of the views_merge_rows module.
 *
 * @ingroup themeable
 */
#}
{{ form.warning_markup }}
<div class="content">
  {{ form.merge_rows }}
</div>
<fieldset>
  <legend>
    <span class="fieldset-legend">{{ 'Configure merging options for the fields'|t }}</span>
  </legend>
  <div class="fieldset-wrapper">
     <table class="sticky-enabled">
      <thead>
        <tr>
          <th>{{ 'Field'|t }}</th>
          <th>{{ 'Merge option'|t }}</th>
          <th>{{ 'Exclude first'|t }}</th>
          <th>{{ 'Prefix'|t }}</th>
          <th>{{ 'Separator'|t }}</th>
          <th>{{ 'Suffix'|t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for field in form.field_config %}
          {% if field.name %}
            <tr>
              <td class=content>{{ field.name }}</td>
              <td class=content>{{ field.merge_option }}</td>
              <td class=content>{{ field.exclude_first }}</td>
              <td class=content>{{ field.prefix }}</td>
              <td class=content>{{ field.separator }}</td>
              <td class=content>{{ field.suffix }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</fieldset>
{{ form.merge_options_description_title }}
{{ form.merge_options_description }}
