<div class="type">Article</div>
<div class="title">
  <h1>{{ node.title.value }}</h1>
</div>
<div class="image">
	{{ content.field_image }}
</div>
<div class="author">
	{% if node.Owner.user_picture.entity.fileuri %}
	  <img src="{{ file_url(node.Owner.user_picture.entity.fileuri) }}" alt="{{ node.Owner.field_name.value }}">
	{% endif %}
	<div class="author-name">{{ node.Owner.field_name.value }}</div>
	<div class="author-date"> {{ node.getCreatedTime|format_date('medium') }} </div> 

</div>
<div class="descrption">
	{{ content.body | raw }}
</div>
<div class="tags">
  <span>TAGS</span> 
	{{ content.field_tags | raw }}
</div>

<div class="last-news">
	<div class="last-news-tit">YOU MAY <span class="orange">LIKE</span></div>
	<div class="last-news-view">
		{{ drupal_view("news", "block_1") }}
	</div>
</div>



