<div class="type">Article</div>
<div class="title">
  <h1>{{ node.title.value }}</h1>
</div>
<div class="image">
	{{ content.field_image }}
</div>
<div class="author">
    <div class="article-contact-info-f1">
      {% if node.Owner.user_picture.entity.fileuri %}
        <img src="{{ file_url(node.Owner.user_picture.entity.fileuri) }}" alt="{{ node.Owner.field_name.value }}">
      {% endif %} 
      {% if node.Owner.field_name.value %}
        By {{ node.Owner.field_name.value }} | {{ node.Owner.field_position_profile.value }} - 
      {% endif %} 
      {{ node.getCreatedTime|format_date('medium') }} 
    </div> 
</div>
<div class="descrption">
	{{ content.body | raw }}
</div>
<div class="tags">
  <span>TAGS</span> 
	{{ content.field_tags | raw }}
</div>


