<div id="page">
    {% if page.header_first %}
        <div id="header">
    {% if page.header_first %}
        <div class="header-first">
            <div class="container">
                <div class="header-content">
                    {{ page.header_first }}
                    <button id="hamburger-menu" class="hamburger-menu" aria-label="Menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div id="mobile-menu" class="mobile-menu">
                    <div class="mobile-menu-content">
                        <div id="block-sph-navegacionprincipal" class="menu-section">
                            {{ page.navigation }}
                        </div>
                        <div id="block-sph-languageswitcher" class="menu-section">
                            {{ page.language_switcher }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

    {% endif %}
    {% if page.header_second %}
        <div class="header-third sticky">
            {{ page.header_second }}
        </div>
    {% endif %}
    <div id="main-content">
        <div class="column-second">
            {% if page.region_top %}
                <div class="region-top">
                    {{ page.region_top }}
                </div>
            {% endif %}
            <div class="region-center">
                {% if page.content %}
                    <div class="column-left">
                        <div class="content-top">
                            {{ page.content_top }}
                        </div>
                        <div class="content-center">
                            {{ page.content }}
                        </div>                    
                        <div class="content-middle">
                            {{ page.content_bottom }}
                        </div> 
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if page.footer %}
        <div id="footer">
            <div class="container">
                {{ page.footer }}
            </div>
        </div>
    {% endif %}
</div>



